
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "admin";


// Utils
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.angular-google-map{height: 200px;} 
.angular-google-map-container { height: 100%; }